@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

:root {
    --black: rgb(25 23 23);
    --light-black: #212121;
    --white: #fff;
}

body{
    background-color: var(--black);
    color:var(--white);
    height:100vh;
    font-family: 'Roboto', sans-serif;
}

header h1 {
    font-size:3rem;
    margin:50px;
    text-align: center;
}

main {
    width:90%;
    border-radius: 11px;
    background-color:var(--light-black);
    border:1px solid var(--white);
    margin:0px auto;
    padding:30px;
    text-align: center;
}

main .instructions {
    font-size:1.5rem;
}

main .instructions p {
    margin-bottom:15px;
}

.guess-input {
    display: block;
    max-width:250px;
    width:90%;
    padding:10px 20px;
    font-size:1.25rem;
    outline:none;
    margin:30px auto;
    border-radius: 8px;
}

.btn {
    padding:10px 20px;
    background-color: var(--white);
    color:var(--black);
    font-weight:700;
    border-radius: 8px;
    font-size:1.25rem;
    cursor: pointer;
    margin-bottom:20px;
}

.btn:hover {
    opacity: 0.9;
}

.response-container p{
    margin-bottom:10px;
    font-size:1.25rem;
}

.play-again-btn {
    display: none;
}

@media only screen and (max-width: 550px) {
    header h1 {
        font-size:2rem;
    }

    main .instructions p {
        font-size:1.25rem;
    }

    .guess-input {
        font-size:1.125rem;
    }

    .submit-btn {
        font-size: 1.125rem;
    }
}